body{
	background-image:url(../res/indexbg.jpg);
	font-size:20px;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	text-align:center;
}

a:link {/* unvisited link */
	color:white;
	text-decoration:none;
}
a:visited {/* visited link */
	color:white;
}
a:hover {/* mouse over link */
	color:white;
	font-size:120%;
}
a:active {/* selected link */
	color:white;
}